Repository deepchecks/deepchecks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deepchecks/deepchecks-team, @ItayGabbay, @shir22, @deepchecks/dev-team, @deepchecks/algo-team

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo.

*       @deepchecks/deepchecks-team

/docs/ @ItayGabbay @shir22

.github @ItayGabbay

README.rst @shir22

requirements/ @ItayGabbay
deepchecks/core/ @deepchecks/dev-team
tests/ @deepchecks/dev-team

deepchecks/core/check_utils/ @deepchecks/algo-team
deepchecks/utils/distribution @deepchecks/algo-team
deepchecks/utils/performance @deepchecks/algo-team
deepchecks/simple_models.py @deepchecks/algo-team
deepchecks/single_sample_metrics.py @deepchecks/algo-team
deepchecks/vision/utils/ @deepchecks/algo-team
deepchecks/ppscore.py @deepchecks/algo-team

tests fixes
  deepchecks/vision/checks/distribution/image_property_drift.py
  deepchecks/vision/checks/performance/confusion_matrix.py
  deepchecks/vision/utils/image_functions.py
  tests/vision/checks/distribution/heatmap_comparison_test.py
  tests/vision/checks/distribution/image_property_drift_test.py
Owners: @deepchecks/deepchecks-team, @deepchecks/algo-team, @deepchecks/dev-team

fixed bbox draw in confusion matrix
  deepchecks/vision/checks/performance/confusion_matrix.py
Owners: @deepchecks/deepchecks-team

fixed image property drift example
  docs/source/examples/vision/checks/distribution/source/plot_image_property_check.py
Owners: @ItayGabbay, @shir22

fix_quick_start_example (#1101)
  .gitignore
  docs/source/tutorials/tabular/plot_quickstart_in_5_minutes.py
Owners: @deepchecks/deepchecks-team, @ItayGabbay, @shir22

Fixing
  deepchecks/vision/checks/performance/simple_model_comparison.py
Owners: @deepchecks/deepchecks-team

replace json check (existing check couldn't find anything)
  docs/source/user-guide/general/exporting_results/plot_export_outputs_to_json.py
Owners: @ItayGabbay, @shir22

pr fixes
  deepchecks/utils/single_sample_metrics.py
  docs/source/user-guide/general/exporting_results/plot_export_outputs_to_json.py
Owners: @deepchecks/deepchecks-team, @ItayGabbay, @shir22

Fixing
  deepchecks/vision/checks/performance/simple_model_comparison.py
Owners: @deepchecks/deepchecks-team

Fix bug in drift with 0 samples
  deepchecks/core/errors.py
  deepchecks/utils/distribution/drift.py
Owners: @deepchecks/dev-team, @deepchecks/algo-team

Fix image property drift on only-images data
  deepchecks/vision/checks/distribution/image_property_drift.py
  tests/vision/checks/distribution/image_property_drift_test.py
Owners: @deepchecks/deepchecks-team, @deepchecks/dev-team

Add image property outliers
  deepchecks/utils/outliers.py
  deepchecks/vision/checks/distribution/image_property_outliers.py
  docs/source/examples/vision/checks/distribution/source/plot_image_property_outliers.py
  docs/source/user-guide/vision/vision_properties.rst
  tests/vision/checks/distribution/image_property_outliers_test.py
  tests/vision/vision_conftest.py
Owners: @deepchecks/deepchecks-team, @ItayGabbay, @shir22, @deepchecks/dev-team
